
/******************** 全局部分 *************************/
body,html,ul
{
	padding: 0;
	margin: 0;
}
body
{
	transition: all 0.7s;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
	-ms-transition: all 0.7s;
	-moz-transition: all 0.7s;
}
body.padding
{
	padding-right: 300px;
}
a{ text-decoration:none;}
ul{ list-style: none;}
body
{
	font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	font-size: 16px;
	background: #fafafa;
}
.clearfix::after
{
	content: '';
	display: block;
	width: 0;
	visibility: hidden;
	clear: both;
}

@font-face {
		font-family: 'icomoon';
		src:    url('../icomoon/fonts/icomoon.eot?ujk4sx');/* IE9 兼容模式 */
		src:    url('../icomoon/fonts/icomoon.eot?ujk4sx#iefix') format('embedded-opentype'),
				url('../icomoon/fonts/icomoon.ttf?ujk4sx') format('truetype'),
				url('../icomoon/fonts/icomoon.woff?ujk4sx') format('woff'),
				url('../icomoon/fonts/icomoon.svg?ujk4sx#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
		}

@media screen and (min-width: 641px)
{
	body
	{
		width: 900px;
		margin: 0 auto;
	}
	.auto-width
	{
		width: 900px;
		margin: 0 auto;
	}
	.header
	{
		position: relative;
		height: 149px;
		overflow: hidden;
	}
	.header-logo
	{
		display: block;
		height: 75px;
		text-align: center;
		margin: 45px auto auto 0;
	}

	.header-nav
	{
		/* position: absolute; */
		width: 210px;
		height: 20px;
		/* left: 20px; */
		/* bottom: -5px; */
		margin: 13px auto 0 auto;
		text-align: center;
		transform: translateY(-5px);
		animation: navw 1.5s;
	}
	@keyframes navw
	{
		from { transform: translateY(10px);}
		to { transform: translateY(-5px);}
	}
	.header-nav li
	{
		float: left;
		font-size: 1em;
		height: 20px;
		line-height: 20px;
		padding: 0 4px;
		margin: 0;
		
	}
	.nav-index
	{
		width: 50px;
	}
	.nav-blog
	{
		width: 62px;
	}
	.nav-project
	{
		width: 80px;
	}
	.nav-hiou
	{
		width: 53px;
	}
	span.border
	{
		width: 50%;
		margin: -5px auto 0 auto;
	}
	.header-nav li a .hover-line
	{
		display: block;
		width:inherit;
		border-bottom: 1px solid #a1a1a1;
		transform: scaleX(0);
		-o-transform: scaleX(0);
		-moz-transform: scaleX(0);
		-ms-transform: scaleX(0);
		-webkit-transform: scaleX(0);
		transition: all 0.5s;
		-o-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	.header-nav li:hover .hover-line
	{
		transform: scaleX(1);
		-o-transform: scaleX(1);
		-moz-transform: scaleX(1);
		-ms-transform: scaleX(1);
		-webkit-transform: scaleX(1);
	}

	.content-box
	{
		max-width: 90%;
	}
	/************************************ project*************************** */
	.item-project
	{
		width: 100%;
		margin: 10px auto;
		/* text-align: center; */
	}
	.item-project li
	{
		/* display: inline-block; */
		width: 300px;
		height: 200px;
		float: left;
	}
	/* ************   page-blog ********************* */
	.page_control
	{
		width: 500px;
		margin: 0 auto;
	}
	/* **************  side-bar ************************** */
	.blog-tag li
	{
		height: 30px;
	}
	.blog-tag li a
	{
		height: 30px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

}

@media screen and (max-width: 640px)
{
	body
	{
		width: 100%;
	}
	.auto-width
	{
		min-width: 320px;
		margin: 0 auto;
	}
	.header
	{
		min-height: 102px;
	}
	.header-logo
	{
		display: block;
		text-align: center;
		margin: 20px auto 0 auto;
	}
	.header-logo img
	{
		width: 70%;
	}
	.header-nav
	{
		display: none;
	}
	.mobile-nav
	{
		display: none;
		position: fixed;
		width: 240px;
		background: rgba(30, 159, 196, 0.9);
		border-radius: 5px ;
		opacity: 0;
		z-index: 1000;
	}
	.mobile-nav li
	{
		display: block;
		font-size: 1.2em;
		height: 35px;
		line-height: 35px;
		padding: 5px;
	}
	.mobile-nav li a
	{
		width: 240px;
		margin: 0 auto;
	}
	span.border
	{
		width: 80%;
		margin: 15px auto 0 auto;
	}
	.content .item-blog p
	{
		font-size: 0.8em;
		letter-spacing: 2px;
		line-height: 1.8em;
	}
	/************************************ project*************************** */
	.item-project
	{
		width: 100%;
		min-width: 300px;
		margin: 10px auto;
	}
	.item-project li
	{
		display: inline-block;
		width: 300px;
		height: 200px;
	}
	/* **************************** page-blog ********************** */
	.page_control
	{
		width: 100%;
		margin: 0 auto;
	}
	/* *******************************side-bar**************** */
	.side-bar
	{
		z-index: 1000;
	}
	.title-tip
	{
		z-index: 1100;
	}
	.blog-tag li
	{
		height: auto;
	}
	.blog-tag li a
	{
		word-break: normal;
    	word-wrap: break-word;
	}
}

/*********** header **************/

.header
{
	text-align: center;
	overflow: hidden;
}
span.border
{
	display: block;
	border-bottom: 1px solid #efefef;
}
.header-logo
{
}
.header-logo img
{
	max-width: 200px;
	min-width: 160px;
}
.header-nav li ,.header-nav li
{
	text-align: center;
}
.header-nav li a ,.mobile-nav li a
{
	display: block;
	letter-spacing: 1px;
	color: #D8D8D8;
	text-align: center;
	transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;

}
.header-nav li a:hover, .mobile-nav li a:hover,.header-nav li a.active ,.mobile-nav li a.active
{
	color: #a1a1a1;
/* 	background-image: gradient(linear, 0 0, 0 bottom, from(rgba(29, 152, 187, 1)), to(rgba(23, 239, 213, 1)));
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(29, 152, 187, 1)), to(rgba(23, 239, 213, 1)));
	background-image: -o-gradient(linear, 0 0, 0 bottom, from(rgba(29, 152, 187, 1)), to(rgba(23, 239, 213, 1)));
	background-image: -moz-gradient(linear, 0 0, 0 bottom, from(rgba(29, 152, 187, 1)), to(rgba(23, 239, 213, 1)));
	background-image: -ms-gradient(linear, 0 0, 0 bottom, from(rgba(29, 152, 187, 1)), to(rgba(23, 239, 213, 1)));
	background-clip: text;
	-webkit-background-clip: text;
	-o-background-clip: text;
	-moz-background-clip: text;
	-ms-background-clip: text;
	-webkit-text-fill-color: transparent; */
}
/******************** content *****************/
.content
{
	text-align: center;
	margin: 20px auto;
}
/* ****************** local **************** */
.local
{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: rgba(0,0,0,0.5);
}
/* ***************** footer ***************/

.footer
{
	border-top: 1px solid #efefef;
}
.footer-content
{
	max-width: 800px;
	padding: 10px;
	margin: 0 auto;
	/* background: #cdcdcd; */
}
.footer-content p
{
	margin: 0;
	padding: 0;
	text-align: center;
	letter-spacing: 2px;
	font-size: 0.8em;
	color: #777575;
}
.footer-content p.footer_pic
{
	margin: 10px auto;
}
.footer-content p a
{
	color: #262626;
}

/* ************************** bottom-bar ********************************* */
.bottom-bar
{
	position: fixed;
	bottom: 15px;
	right: 15px;
}
.bottom-bar li
{
	height: 40px;
	width: 40px;
	font-family: 'icomoon';
	opacity: 0.7;
	background: #1e9fc4;
	border-radius: 5px;
	color: #d7d3d3;
	font-size: 1.6em;
	text-align: center;
	line-height: 40px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	cursor: pointer;
}
.bottom-bar li:hover
{
	opacity: 1;
	color: #fff;
}