 <header class="auto-width header">
    <a href="http://www.haiouyun.com" class="header-logo">
      <img src="{{"/img/header_logo.png"}}" alt="logo" />
    </a>
    <ul class="header-nav">
        <li><a class="nav-index" href="{{"/"}}">首页<span class="hover-line"></span></a></li>
        <!-- <li><a class="nav-blog" href="#">blog<span class="hover-line"></span></a></li> -->
        <li><a class="nav-project" href="{{"/projects/"}}">DEMO<span class="hover-line"></span></a></li>
        <li><a class="nav-hiou" href="{{"/about/"}}">HioU<span class="hover-line"></span></a></li>
    </ul>
    <span class="border"></span>
</header>
